@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <div class="col-2">
    <a asp-area="" asp-controller="Details" asp-action="Company" asp-route-id="@Model" class="btn btn-secondary btn-sm">Działalność spółki</a>
     </div>

</div>
