@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witam !</h1>
    <p>Learn about <a href="Wybierz z menu.</a>.</p>
    
    <div class="col-2">
    <a asp-area="" asp-controller="Document" asp-action="document" class="btn btn-secondary btn-sm">Wszystkie instrukcje</a>
    <a asp-area="" asp-controller="Document" asp-action="document" class="btn btn-secondary btn-sm">Instrukcja wg kodu</a>
     </div>

</div>
